<div class="main-contents">
  <div class="main-contents__userName">
    ユーザー名
  </div>
  <div class="main-contents__image">
    img
  </div>
  <div class="main-contents__icons">
    <div class="main-contents__logo"><i class="fas fa-heart"></i></div>
    <div class="main-contents__logo"><i class="far fa-comment"></i></div>
  </div>
  <div class="main-contents__text">
    <div class="main-contents__text-userName">ユーザー名</div>
    texttexttexttexttexttexttexttexttexttext
  </div>
  <div class="main-contents__tags">
    tagtagtagtagtagtagtagtagtag
  </div>
  <div class="main-contents__comments">
    <p class="main-contents__comments-ttl">comment</p>
    <div class="comments-area">一覧</div>
  </div>
</div>