.header{
  position: relative;
  height: 4.5rem;
  .headerContents{
    position: fixed;
    width: 100%;
    background: $color-light-green;
    &__logo{
      color: $color-main-white;
      width: 15rem;
      line-height: 4.5rem;
      font-size: 2rem;
      font-weight: bold;
      margin: 0 auto;
      text-align: center;
      a{
        color: $color-main-white;
      }
    }

    .user{
      position: absolute;
      right: 1rem;
      top: 0;
      width: 26rem;
      height: 4.5rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      &__name{
        font-size: 1.5rem;
        color: $color-grey;
        color: $color-main-white;
        text-decoration: underline;
        font-weight: bold;
        a{
          color: $color-main-white;
        }
      }
      &__info{
        width: 15.5rem;
        display: flex;
        justify-content: space-between;
        &-mypage{
          transition: .4s;
          &:hover{
            background: #c7fff9;
          }
        }
        &-logout{
          transition: .4s;
          &:hover{
            background: #ffd9c7;
          }
        }
        &-signup{
          transition: .4s;
          &:hover{
            background: #c7fff9;
          }
          a{
            color: $color-black;
          }
        }
        &-login{
          transition: .4s;
          &:hover{
            background: #c7fff9;
          }
          a{
            color: $color-black;
          }
        }
      }
      &__info-box{
        background: $color-main-white;
        font-weight: bold;
        height: 3rem;
        line-height:3rem;
        padding: 0 1rem;
        border-radius: .2rem;
      }
    }
  }
}

.footer{
  width: 100%;
  height: 3.5rem;
  background: $color-sub-white;
  margin-top: auto;
  &__txt{
    text-align: center;
    line-height: 3.5rem;
    color: $color-grey;
  }
}