
.main-contents{
  .main-content{
    margin: 1.5rem auto;
    width: 60rem;
    background-color: $color-sub-light-green;
    margin: 1.5rem auto;
    padding: 1rem 0;
    box-shadow: 1px 3px 10px 1px #9E939A;
    &__userName{
      width: 100%;
      font-size: 1.2rem;
      font-weight: bold;
      padding: 1rem;
      text-align: left;
      border-bottom: 1px solid #000;
    }
    &__image{
      width: 100%;
      height: 50rem;
      border-bottom: 1px solid #000;
      padding: 1rem;
      img{
        width: 100%;
      }
    }
    &__icons{
      width: 100%;
      padding: 1rem;
      display: flex;
      justify-content: end;
      align-items: center;
      border-bottom: 1px solid #000;
      .far,.fas{
        vertical-align: middle;
      }
      .likes_count{
        font-size: 12px;
        span{
          margin-left: 5px;
          font-weight: bold;
        }
      }
    }
    &__logo-fas{
      color: red;
      margin-right: 1rem;
      font-size: 1.5rem;
      a{
        color: red;
      }
    }
    &__logo-far{
      color: red;
      margin-right: 1rem;
      font-size: 1.5rem;
      a{
        color: #000;
      }
    }
    &__logo{
      margin-right: 1rem;
      font-size: 1.5rem;
      a{
        color: #000;
      }
    }
    &__text{
      width: 100%;
      padding: 1rem;
      font-size: 1.2rem;
      &-userName{
        font-size: 1.2rem;
        font-weight: bold;
      }
    }
    &__tags{
      width: 100%;
      padding: 1rem;
      font-size: 1.2rem;
    }
    &__comments{
      width: 100%;
      height: 6rem;
      padding: 1rem;
      margin-bottom: 1rem;
      font-size: 1.2rem;
      font-weight: bold;
      &-ttl{
        margin-bottom: 1rem;
      }
      .comments-area{
        width: 100%;
        height: 2.5rem;
        border: 1px solid #000;
        background: #fff;
        margin-bottom: 1rem;
      }
    }
  }
  .pagination{
    width: 60rem;
    text-align: center;
    margin: 2rem auto;
    .page{
      font-size: 1.8rem;
      display: inline-block;
      width: 3rem;
      height: 3rem;
      line-height: 3rem;
      text-align: center;
      border: 1px solid #49c5b6;
    }
    .next{
      font-size: 1.5rem;
      margin: 0 .5rem;
      line-height: 3rem;
    }
    .last{
      font-size: 1.5rem;
      margin: 0 .5rem;
      line-height: 3rem;
    }
    .prev{
      font-size: 1.5rem;
      margin: 0 .5rem;
      line-height: 3rem;
    }
    .first{
      font-size: 1.5rem;
      margin: 0 .5rem;
      line-height: 3rem;
    }
    .current{
      background-color: #49c5b6;
      color: #fff;
    }
    a{
      color: #000;
    }
  }
  .like_block{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 1rem;
  }
}
@media(max-width:769px){
  .main-contents{
    .main-content{
      width: 100%;
    }
  }
  
}

.sub__content{
  position: fixed;
  right: 2.5rem;
  bottom: 3.5rem;
  width: 20rem;
  background: $color-sub-light-green;
  padding: 1rem;
  z-index: 2;
  box-shadow: 1px 3px 10px 1px #9E939A;
  text-align: center;
  .postBtn{
    color: $color-light-green;
    font-size: 1.5rem;
  }
}
.input__form{
  text-align: left;
  font-size: 1.5rem;
  &__img{
    margin-bottom: 1rem;
    line-height: 1.6rem;
  }
  &__msg{
    margin-bottom: 1rem;
  }
  &__tag{
    margin-bottom: 1rem;
    line-height: 1.6rem;
  }
  &__submit{
    text-align: center;
    &-btn{
      display: inline-block;
      border-radius: 7%;
      font-size: 1.5rem;
      line-height: 1em;
      padding: .5rem;
      transition:.3s;
      &:hover{
        color: $color-main-white;
        background-color: $color-light-green;
      }
    }
  }
}

