
.main-contents{
  width: 65rem;
  margin: 1.5rem auto;
  background-color: $color-sub-light-green;
  padding: 1rem 0;
  box-shadow: 1px 3px 10px 1px #9E939A;
  &__userName{
    width: 100%;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 1rem;
    text-align: left;
    border-bottom: 1px solid #000;
  }
  &__image{
    width: 100%;
    height: 50rem;
    border-bottom: 1px solid #000;
    padding: 1rem;
  }
  &__icons{
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: end;
    border-bottom: 1px solid #000;
  }
  &__logo{
    margin-right: 1rem;
    font-size: 1.5rem;
    
  }
  &__text{
    width: 100%;
    padding: 1rem;
    font-size: 1.2rem;
    &-userName{
      font-size: 1.2rem;
      font-weight: bold;
    }
  }
  &__tags{
    width: 100%;
    padding: 1rem;
    font-size: 1.2rem;
  }
  &__comments{
    width: 100%;
    height: 6rem;
    padding: 1rem;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
    &-ttl{
      margin-bottom: 1rem;
    }
    .comments-area{
      width: 100%;
      height: 2.5rem;
      border: 1px solid #000;
      background: #fff;
      margin-bottom: 1rem;
    }
  }
}

.sub__content{
  position: fixed;
  right: 2.5rem;
  bottom: 3.5rem;
  width: 21rem;
  background: $color-sub-light-green;
  padding: 1rem;
  z-index: 2;
  box-shadow: 1px 3px 10px 1px #9E939A;
}
.input__form{
  text-align: left;
  font-size: 1.5rem;
  &__img{
    margin-bottom: 1rem;
    line-height: 1.6rem;
  }
  &__msg{
    margin-bottom: 1rem;
  }
  &__tag{
    margin-bottom: 1rem;
    line-height: 1.6rem;
  }
  &__submit{
    text-align: center;
    &-btn{
      display: inline-block;
      border-radius: 7%;
      font-size: 1.5rem;
      line-height: 1em;
      padding: .5rem;
      transition:.3s;
      &:hover{
        color: $color-main-white;
        background-color: $color-light-green;
      }
    }
  }
}
