.one-post{
  .main-content{
    margin: 1.5rem auto;
    width: 60rem;
    background-color: $color-sub-light-green;
    margin: 1.5rem auto;
    padding: 1rem 0;
    box-shadow: 1px 3px 10px 1px #9E939A;
    &__userName{
      width: 100%;
      font-size: 1.2rem;
      font-weight: bold;
      padding: 1rem;
      text-align: left;
      border-bottom: 1px solid #000;
    }
    &__image{
      width: 100%;
      height: 45rem;
      border-bottom: 1px solid #000;
      padding: 1rem;
      img{
        width: 100%;
      }
    }
    &__icons{
      width: 100%;
      padding: 1rem;
      display: flex;
      justify-content: end;
      border-bottom: 1px solid #000;
      .likes_count{
        font-weight: bold;
        font-size: 1.2rem;
      }
    }
    &__logo{
      margin-right: 1rem;
      font-size: 1.5rem;
      
    }
    &__text{
      width: 100%;
      padding: 1rem;
      font-size: 1.2rem;
      &-userName{
        font-size: 1.2rem;
        font-weight: bold;
      }
    }
    &__tags{
      width: 100%;
      padding: 1rem;
      font-size: 1.2rem;
    }
    &__comments{
      width: 100%;
      // height: 6rem;
      padding: 1rem;
      margin-bottom: 1rem;
      font-size: 1.2rem;
      font-weight: bold;
      &-ttl{
        margin-bottom: 1rem;
      }
      .cmt-box{
        display: block;
        width: 100%;
        margin-bottom: 1rem;
      }
      #cmt-btn{
        display: inline-block;
        padding: .3rem;
        margin-bottom: 1.5rem;
        width: 10rem;
        border-radius: 4%;
        font-size: 1.2rem;
        transition: .4s;
        &:hover{
          color: $color-main-white;
          background-color: $color-light-green;
        }
      }
      .comments-area{
        width: 100%;
        border: 1px solid $color-light-grey;
        background: #fff;
        margin-bottom: 1rem;
        padding: 0.5rem;
        span{
          color: $color-light-green;
        }
      }
    }
  }
}