//COLORS
$color-black: #000;
$color-grey: #565656;
$color-light-green: #49c5b6;
$color-sub-light-green: rgba(73, 197, 182, 0.07);
$color-main-white: #fff;
$color-sub-white: #E6EAEA;


//FONT
$base-size: 1.6rem;