<!DOCTYPE html>
<html>
  <head>
    <title>PersonalApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <div class="headerContents">
        <p class="headerContents__logo">PersonalApp</p>
        <div class="user">
          <div class="user__name"><span>TAKAYUKI</span></div>
          <div class="user__info">
            <div class="user__info-mypage">マイページ</div>
            <div class="user__info-logout">ログアウト</div>
          </div>
        </div>
      </div>
    </header>

    <%= yield %>

    <footer class="footer">
      <p class="footer__txt">
        Copyright PicTweet 2019.
      </p>
    </footer>

  </body>
</html>
